<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .container {
        max-width: 600px;
        margin: auto;
      }
    </style>
  </head>
  <body>
    <main class="container">
      <h1>Guestbook</h1>

      <form action="form" method="post">
        <input name="text" required />
        <input type="submit" value="Submit" />
      </form>

      <ul>
        <% for (const entry of entries) { %>

        <li><%= entry.text %></li>

        <% } %>
      </ul>
    </main>
  </body>
</html>
